/*Una plantilla default para app tengo clases como app y appheader*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #F2F2F2;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-image: radial-gradient(circle, #F27405, #CA4949);
}