.circulo {
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: #FFA352;
  border-radius: 50%;
  z-index: -1;
  animation: expandAndFade 300ms ease-out forwards;
}

@keyframes expandAndFade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(50);
    opacity: 0;
  }
}